<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">num</th>
    <th scope="col">Temperature</th>
    <th scope="col">Pressure</th>
    <th scope="col">Dew point</th>
    <th scope="col">Wind velocity</th>
    <th scope="col">Wind ??</th>
    <th scope="col">Height</th>



  </tr>
  </thead>
  <tbody>
  <tr    *ngFor="let thermodata of (dataToTable |async) | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i  ">
    <td>{{ i + (page - 1) * pageSize}}</td>
    <td>{{ thermodata.properties.temp }}</td>
    <td>{{ thermodata.properties.pressure }}</td>
    <td>{{ thermodata.properties.dewpoint }}</td>
    <td>{{ thermodata.properties.wind_v }}</td>
    <td>{{ thermodata.properties.wind_u }}</td>
    <td>{{ thermodata.properties.gpheight }}</td>
  </tr>
  <ngb-pagination [pageSize]="60" [collectionSize]="388" [(page)]="page" [directionLinks]="false"></ngb-pagination>
  </tbody>
</table>
