<nav class="navbar navbar-expand-lg bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand text-light mb-0 h3 p-3" href="#">Meteo - CHART</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">

      </li>
    </ul>
  </div>
  <div class="pe-3">
    <button class="btn btn-light" class="btn btn btn-outline-success"
            (click)="openModal()"><i class="bi bi-database-fill-add">
      Get data for new station</i></button>
  </div>
  <div class="pe-3">
    <button class="btn btn-outline-success" (click)="openInfoModal()"><i class="bi bi-info-square"> Info</i></button>
    <
  </div>
  <span class="pe-3" style="color:#a4313a;"><i class="bi bi-hammer"> V.1.3</i> </span>
</nav>
<div class="d-flex justify-content-end mt-1 me-1 align-items-center">
  <div class="card text-center text-primary mb-0 w-10 " >
    <div class="card-body" style="color:#74b999;">
      Actual date: {{getDataFromStation()}} <i>Actual station:</i> {{getStationName()}}
    </div>
    <div>

    </div>
  </div>

</div>

