<div>
  <div tabindex="-1" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Get new data from station</h5>
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="searchForm">
          <div class="mb-3">
            <label for="calendar" class="text-success">Date of measurement</label>
            <div class="input-group">
              <input
                id="calendar"
                class="form-control"
                formControlName="calendar"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #dp="ngbDatepicker"

              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
            </div>
            <div class="text-danger" *ngIf="searchForm.controls?.['calendar']?.errors?.['notValidDate']">
              <small>Date is not correct!</small>
            </div>
          </div>

          <label for="stationNumber" class="text-success">Station number:</label>
          <select id="stationNumber" formControlName="stationNumber" class="form-select">
            <option selected value="12374">Station:12374 - Warszawa</option>
            <option value="12425">Station:12425 - Wroclaw</option>
          </select>

          <button (click)="getDataFromStation()" class="btn btn btn-outline-success mt-2"> Get data
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
