<div class="container">
  <div class="row">

        <div @fade *ngIf="isViewEmagram()">
          <app-diagram
            [mappedChartData$]="mappedDataToDiagram$"
            [isZoom]="isZoomed"
            [mappedChartSkewTData$]="mappedDataToSkewTDiagram$"
            [chartAppearance$]="chartAppearance$"
            (newChartData)="updateDataFromChart($event)"
            [HighChart]="Highcharts"

          ></app-diagram>
        </div>
        <div @fade *ngIf="isViewSkewT()">
          <app-diagram-skew-t
            [isZoom]="isZoomed"
            [HighChart]="Highcharts"
            [mappedChartDataSkewT$]="mappedDataToSkewTDiagram$"
          >
          </app-diagram-skew-t>
        </div>
    <div class="row">
    </div>
      </div>


  <div class="row">

        <app-manager-container></app-manager-container>

  </div>
</div>

