<div class="stikedStyle d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
     style="width:210px; height: 100%">
  <div class="text-center">
    <h2>Meteo Chart</h2>
    <hr>
    <div class="divider">Current date</div>
    <div *ngIf="loaderService.isLoading | async; else notLoading">
      <app-spinner></app-spinner>
    </div>
    <ng-template #notLoading>
    <p style="color:#74b999;">  {{getDataFromStation()}}</p>
    </ng-template>
    <div class="divider">Current station</div>
    <div *ngIf="loaderService.isLoading | async; else notLoading">
      <app-spinner></app-spinner>
    </div>
    <ng-template #notLoading>
      <p style="color:#74b999;"> {{getStationName()}}</p>
    </ng-template>
  </div>
  <ul class="nav nav-pills flex-column text-center ">
    <div class="divider">Choose chart</div>
    <li class="m-1 hover-dim" [ngClass]="isViewSkewT() ? 'chartSet':'chartNotSet'" (click)="setView('SkewT')">
      <p class=" m-1"
      ><i class="bi bi-graph-up">
        Open Skew-T</i></p>
    </li>
    <li class="m-1 hover-dim" [ngClass]="isViewEmagram() ? 'chartSet':'chartNotSet'" (click)="setView('Emagram')">
      <p class=" m-1"
      ><i class="bi bi-graph-up">
        Open Emagram</i></p>
    </li>
    <div class="divider">Chart Options</div>
    <li class="m-1 hover-dim" (click)="openModal() ">
      <p class=" m-1"><i class="bi bi-database-fill-add">
        Load new data</i></p>
    </li>

    <li class="m-1 hover-dim" (click)="activateZoomingChart()">
      <p class=" m-1">
        <i *ngIf="zoomFlag" class="bi bi-patch-check-fill" style="color: #64eda4;"> Zoom chart</i>
        <i *ngIf="!zoomFlag" class="bi bi-patch-minus-fill" style="color: #a80505;"> Zoom chart</i>
      </p>
    </li>
    <hr>
    <li class="m-1 hover-dim" (click)="openInfoModal()">
      <p class=" m-1">
        <i class="bi bi-info-square"> Project Info</i>
      </p>
    </li>
  </ul>
  <div class="text-center">
    <span class="pe-3" style="color:#e16e79;"><i class="bi bi-hammer"> V.1.3</i> </span>
  </div>
</div>


